# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment and virtual environment folders
env/
venv/
environment/
.virtualenvs/
virtual/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore dependency caches and logs
*.log

# Ignore package distributions
dist/
build/
*.egg-info/

# Ignore compiled Cython files
*.c
*.so

# Ignore editor and IDE files
.vscode/
.idea/
*.swp

# Ignore unnecessary folders
Create/
a/

# Ignore specific virtual environment files
*/Lib/
*/Scripts/
*/pyvenv.cfg
